@model web.Models.Bookstore

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bookstore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Edited</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEdited)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookstoreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
