@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to e-library!</h1>
    <br><br>
    <h3>Check our offer in the Books tab</h3>
    <img src="https://cdn.discordapp.com/attachments/765253127880048702/931268391120044102/books.png">
    <br>


</div>
